<ion-header>
  <ion-toolbar>
    <ion-title>Tabla de Multiplicar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-item>
      <ion-label position="floating">Digite el numero</ion-label>
      <ion-input [(ngModel)]="myItem"></ion-input>
    </ion-item>
  </div>
  <div class="container">
    <p>{{myItem}} * 0  = {{ myItem*0}}</p>
  </div>
  <div class="container">
    <p>{{myItem}} * 1  = {{ myItem*1}}</p>
  </div>
  <div class="container">
    <p>{{myItem}} * 2  = {{ myItem*2}}</p>
  </div>
  <div class="container">
    <p>{{myItem}} * 3  = {{ myItem*3}}</p>
  </div>
  <div class="container">
    <p>{{myItem}} * 4  = {{ myItem*4}}</p>
  </div>
  <div class="container">
    <p>{{myItem}} * 5  = {{ myItem*5}}</p>
  </div>
  <div class="container">
    <p>{{myItem}} * 6  = {{ myItem*6}}</p>
  </div>
  <div class="container">
    <p>{{myItem}} * 7  = {{ myItem*7}}</p>
  </div>
  <div class="container">
    <p>{{myItem}} * 8  = {{ myItem*8}}</p>
  </div>
  <div class="container">
    <p>{{myItem}} * 9  = {{ myItem*9}}</p>
  </div>
  <div class="container">
    <p>{{myItem}} * 10  = {{ myItem*10}}</p>
  </div>
  <div class="container">
    <p>{{myItem}} * 11  = {{ myItem*11}}</p>
  </div>
  <div class="container">
    <p>{{myItem}} * 12  = {{ myItem*12}}</p>
  </div>
  <div class="container">
    <p>{{myItem}} * 13  = {{ myItem*13}}</p>
  </div>
</ion-content>
